.env
.env.local
.env.*.local
**/.env
**/.env.local
__pycache__/
**/__pycache__/
*.pyc
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
/outputs
.vscode/*.log
*.log
venv/
**/venv/
.venv/
**/.venv/
*.egg-info/
**/*.egg-info/
backend/storage/
